<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Strona Główna</title>
</head>
<body>
    <header>
        <nav>
            <button>Losowy Egzamin</button>
            <button>Losowe Pytanie</button>
            <button>Wczytaj Sprawdzian</button>
        </nav>
    </header>
    <aside>

    </aside>
    <div class="container">
        <div class="questions-container">
            <div class="question" id="list">
                <ul>
                    <li>Pytanie 1</li>
                    <li>Pytanie 2</li>
                    <li>Pytanie 3</li>
                    <li>Pytanie 4</li>
                    <li>Pytanie 5</li>
                    <li>Pytanie 6</li>
                    <li>Pytanie 7</li>
                    <li>Pytanie 8</li>
                    <li>Pytanie 9</li>
                    <li>Pytanie 10</li>
                    <li>Pytanie 11</li>
                    <li>Pytanie 12</li>
                    <li>Pytanie 13</li>
                    <li>Pytanie 14</li>
                    <li>Pytanie 15</li>
                    <li>Pytanie 16</li>
                    <li>Pytanie 17</li>
                    <li>Pytanie 18</li>
                    <li>Pytanie 19</li>
                    <li>Pytanie 20</li>
                    <li>Pytanie 21</li>
                    <li>Pytanie 22</li>
                    <li>Pytanie 23</li>
                    <li>Pytanie 24</li>
                    <li>Pytanie 25</li>
                    <li>Pytanie 26</li>
                    <li>Pytanie 27</li>
                    <li>Pytanie 28</li>
                    <li>Pytanie 29</li>
                    <li>Pytanie 30</li>
                    <li>Pytanie 31</li>
                    <li>Pytanie 32</li>
                    <li>Pytanie 33</li>
                    <li>Pytanie 34</li>
                    <li>Pytanie 35</li>
                    <li>Pytanie 36</li>
                    <li>Pytanie 37</li>
                    <li>Pytanie 38</li>
                    <li>Pytanie 39</li>
                    <li>Pytanie 40</li>
                </ul>
            </div>
        </div>
        <div class="App-container">
            <main>
            <div class="App">
                <div class="App__Content__Center">
                    <h1>Pytanie 12</h1>
                    <p>W protokole IPv4 adres typu broadcast, zapisany w postaci binarnej, bez podziału na podsieci, w części
                        przeznaczonej dla hosta zawiera
                        <br> A. tylko zera.
                        <br> B. wyłącznie jedynki.
                        <br> C. naprzemiennie jedynki oraz zera.
                        <br> D. sekwencję zer z jedynką na końcu.</p>
                    <img src="https://commons.wikimedia.org/wiki/File:Nand-gate-en.svg#/media/File:Nand-gate-en.svg" alt="">
                    <div class="App__Button-Container">
                        <button class="App__Button">A</button>
                        <button class="App__Button">B</button>
                        <button class="App__Button">C</button>
                        <button class="App__Button">D</button>
                    </div>
                </div>
                
                <div class="App__Controls">
                    <button>&lt;&lt;</button>
                    <button>&#9881;</button>
                    <button>&gt;&gt;</button>
                </div>
            </div>
        </main>
        </div>
    </div>
    <footer>
        <a href="">API</a>
        <span> 	&copy; Sebastian Nosal 2022</span>
        <a href="">Źródła</a>
    </footer>
</body>
</html>